
    .intro {
        flex: 1;
        margin-left: 1rem;
    }
    .dropdown-arrow {
        margin-left: auto;
        transition: transform 0.3s;
    }
    .tab-text-box.active .dropdown-arrow {
        transform: rotate(180deg);
    }

    .tab-content {
        display: none; /* Hide all content by default */
    }
    
    .tab-content.active {
        display: block; /* Show only the active content */
    }
    